<ion-header>
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-back-button defaultHref="/"></ion-back-button>
</ion-buttons>
    <ion-title>Poppover</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="menu"></ion-icon>              
        </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="presentPopover($event)" expand="block" shape="round">
    Abrir Pop Over
  </ion-button>

</ion-content>
