<app-header titulo ="cards">
  
</app-header>

<ion-content>

<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Por Fox</ion-card-subtitle>
      <ion-card-title>Los Simpson</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio rerum numquam neque vitae libero id animi, harum iusto, eveniet temporibus quod saepe maiores corrupti tenetur sed impedit perspiciatis reiciendis accusantium!
    </ion-card-content>
</ion-card>

<ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Por Fox</ion-card-subtitle>
      <ion-card-title>Los Simpson</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="assets/img/homero.jfif"></ion-img>
      <div class="texto">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio rerum numquam neque vitae libero id animi, harum iusto, eveniet temporibus quod saepe maiores corrupti tenetur sed impedit perspiciatis reiciendis accusantium!
    </div>
    </ion-card-content> 

</ion-card>



</ion-content>
