<app-header titulo ="check">  
</app-header>



<ion-content>
  <ion-item mode="ios" *ngFor="let item of datos">
    <ion-label>{{item.nombre}}</ion-label>
    <ion-checkbox slot="start" [color]="item.nombre" [checked]="item.selector"></ion-checkbox>
  </ion-item>

  <ion-item mode="ios" *ngFor="let item of datosb">
    <ion-label>{{item.selector}}</ion-label>
    <ion-checkbox slot="start" [color]="item.nombre" [(ngModel)]="item.selector"></ion-checkbox>
  </ion-item>
  <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
    Aceptar
  </ion-button>

</ion-content>
